.collapse {
    visibility: visible !important;  
}

.navbar {
    background-color: var(--backgroundLight);
    box-shadow: 0 0 1rem 0 rgba(83, 94, 105, 0.61);
}

.form-navbar {
    width:300px;
    height: 35px;
    font-size: 3.0rem;
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}


/* #nav-bar-main {
   
} */

.form-dash-navbar {
    display: flex;
    gap: 1rem;
}

#custom-table {
    color: red;
}


/* Ajusta o tamanho da fonte para as células da tabela */ /* Isso equivale a 16px com o font-size global de 62.5% */
tbody, table td, table th, a, button, form, input, placeholder, label, .table, .container-table, .needs-validation, .form-navbar, .form-group, .form-control, .btn, .nav-icon, .modal, .modal-heade, .modal-title, .modal-body, .modal-body {
    font-size: 1.6rem; 
} 
