.collapse {
    visibility: visible !important;  
}

.navbar {
    background-color: var(--backgroundLight);
 /*    box-shadow: 0 0 1rem 0 rgba(83, 94, 105, 0.61); */
}

.form-navbar {
    width:300px;
    height: 35px;
    font-size: 3.0rem;
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}


/* #nav-bar-main {
   
} */

.form-dash-navbar {
    display: flex;
    gap: 1rem;
}


.alinhar-texto {
    text-align: center;
}

.mostrar-foto {
    width: 250px;
}

.lista-foto {
    width: 70px;
    border-radius: 70px;
}