.footer {
    background-color: white;
    color: var(---textColorForms);
    font-family: 'Nunito', sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
  }
  
  .footer-left p {
    margin: 0;
  }
  
  .footer-right {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-decoration: none;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
