.footer {
  background-color: var(--backgroundLight);
  color: var(--textColor);
  font-size: 2rem;
  border-top: 1px solid rgb(61, 65, 73) 0px 0px 5px;
  box-shadow: rgb(61, 65, 73) 0px 0px 5px;
  align-content: flex-end;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  margin: 0;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  gap: 2.0rem;

}
