.needs-validation {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 30px;
    margin-top: 50px;
}

.cadastro-title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: calc(1.325rem + .9vw);
}


  /* Adiciona padding ao texto dentro de inputs */
input[type="text"],
textarea {
    padding: 2.0rem 0; /* Adiciona padding de 10 pixels */
}


.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
