@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

html {
  font-size: 62.5%;
}

main {
    background-color: var(--mainColor);
}


:root {
	--mainColor: #134985;
	--mainColorLight: #3398B7;
	--secondaryColor: #1D8741;
  --secondaryLight: #8BAA38;
  --tertiaryColor: #E39725;
  --tertiaryLight: #F5C514;
	--textColor: #eee;
  ---textColorForms: #134985;
 --backgroundColor: rgb(32, 34, 37);
 --backgroundLight: rgb(47, 49, 54);

}

.baseContainer {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}


.border-link a {
  position: relative;
  text-decoration: none;
}

.border-link a:hover::after {
  width: 100%;
}

.border-link a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--textColor);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}


.border-link a:link {
  color: var(--textColor);
}

.border-link a:visited {
  color: var(--textColor);
}

ol,
ul {
  padding-left: initial;
}

/* Ajusta o tamanho da fonte para as células da tabela */ /* Isso equivale a 16px com o font-size global de 62.5% */
tbody, table td, table th, a, button, form, input, placeholder, label, .table, .container-table, .needs-validation, .form-navbar, .form-group, .form-control, .btn, .nav-icon, .modal, .modal-heade, .modal-title, .modal-body, .modal-body {
  font-size: 1.6rem; 
} 
