.maps-section {
  color: var(--textColor);
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}


#mapid {
  height: 200px;
  width: 400px;
  border-radius: 10px;
}

.custom-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.0rem;
  width: 70%;
  margin: 1.6rem auto;
}

.custom-title-maps {
  text-align: center;
  font-size: 3.0rem;
}

.custom-container p {
  font-size: 2.0rem;
  line-height: 2.4rem;
}